// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#new_game {
  display: flex;
  margin-bottom: 30px;
}

#letter {
  display: flex;
  background-color: #3498dc;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 3px;
}

#letter span {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
}